/* ==========================================================================
// @section     One Page
// @description Gestion du gabarit pour un template one page
// =========================================================================*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.onepage .section {
	box-sizing: border-box;
	min-height: 100vh;
	margin: 0;
	padding: 1rem 2rem;
}

.onepage .section:nth-child(3n+1) {
	color: #ffc7c7;
	background-color: #c64025;
}

.onepage .section:nth-child(3n+1) * {
	color: #ffc7c7;
	fill: #ffc7c7;
}

.onepage .section:nth-child(3n+2) {
	color: #a163cc;
	background-color: #FDFFD8;
}

#title2{
 color: #c64025;
  margin-top: 5%;
}

.onepage .section:nth-child(3n+3) {
	color: #cbffc7;
	background-color: #BCF3DD;
}

.onepage .section:nth-child(3n+3) * {
	color: #8A807C;
	fill: #8A807C;
}

/* @subsection .main-nav.onepage
// @description Menu de navigation pour la One Page
// =========================================================================*/

.onepage .main-nav {
	position: fixed;
  z-index: 4000;
	display: table;
	table-layout: fixed;
	bottom: 0;
	text-align: center;
	background: rgba(0, 0, 0, .2);
}

@media (max-width: 40em) {
	.onepage .main-nav {
		width: 100%;
	}
} /* END @media */

@media (min-width: 40em) {
	.onepage .main-nav {
		top: 0;
		right: 0;
	}
} /* END @media */

.onepage .main-nav a {
  display: table-cell;
  padding: 1rem;
  color: #fefefe;
  text-decoration: none;
}
.onepage .main-nav a.active {
  background-color: rgba(0, 0, 0, 0.3);
}


/* @subsection Everything else
// =========================================================================*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fefefe;
  font-family: 'Open Sans', Arial;
}

.vertical {
	display: table;
	width: 100%;
	height: 100%; /* @bugfix @affected Firefox */
}

.vertical > * {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

p {
  font-size: 1.2rem;
}

h1, .h1 {
  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
  font-size: 3.2rem;
}

h2, .h2 {
  margin-top: 1.4rem;
  margin-bottom: 0.7rem;
  font-size: 2.8rem;
}

@media (max-width: 40em) {
	
	/* @note 'vmin' unit do not work on : Safari 5.1, Android 4.3, Opera 12.1 */
  
  p {
		font-size: 6vmin;
  }
  
	h1, .h1 {
		font-size: 9.6vmin;
	}

	h2, .h2 {
		font-size: 7.6vmin;
	}

} /* END @media */

.svg {
  display: block;
  margin: 5vh auto 0;
  width: 100%;
  height: 100%;
  max-width: 30wh;
  max-height: 30vh;
}




@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


#body-login{
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat';
  overflow: auto;
}

a,
a:focus,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

.container {
  margin-top: 70%;
  padding: 5%;
  border-radius: 3px;
  
}

.container.container--static {
  width: 80%;
  min-width: 600px;
  height: 40%;
  min-height: 250px;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  background-color: #D0AF76;
  color: #c64025;
  opacity: 0.6;
}

.container.container--sliding {
  width: 35%;
  height: 50%;
  min-height: 300px;
  background-color: #fefefe;
  position: absolute;
  top: 10%;
  left: 65%;
  transform: translate(-50%, -50%);
  box-shadow: 3px -2px 6px 0px rgba(0, 0, 0, 0.4);

}
.container.container--sliding .slider-content.signup {
  display: none;
}

.info-box {
  width: 40%;
  margin: 5% auto;
}

.info-box.left {
  float: left;
  color: #000000;
}

.info-box.right {
  float: right;
}

.heading {
  font-family: 'Montserrat';
  font-size: 1.2em;
}

.heading.alt {
  margin-bottom: 10%;
  text-transform: uppercase;
  color: #c64025;
}

.info-text {
  font-family: 'Roboto';
  font-size: 0.7em;
  font-weight: 300;
  letter-spacing: 1px;
  color: #c64025;
}

.info-text.alt {
  color: #c64025;
}

.button {
  width: 35%;
  margin-top: 15px;
  padding: 2% 5%;
  background-color: transparent;
  color: #000000;
  border: 2px solid #ccc;
  border-radius: 3px;
  font-family: 'Montserrat';
  font-size: 0.7em;
  text-transform: uppercase;
  cursor: pointer;
}

.button.alt {
  margin-bottom: 15px;
  background-color: #BFB09B;
  border: 0;
}

.button:focus {
  outline: 0;
}

.login1 {
  margin-bottom: 10%;
}

.login1 input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
  border: 0;
  border-bottom: 2px solid #B0B0B0;
  font-family: 'Montserrat';
}
.login1 input:focus {
  outline: 0;
}

#numero{
 border-radius: 25px;
  width: 400px;
  height: 55px;
 margin-top: -5%;
  border: 3px solid #C0AF6A;
   background-color: rgba(182,182,182, 0.3);
padding-left: 2%;
}


#title2{
margin-top: -28%;
}

.bton{
margin-top: 2%;
font: Bold 15px Arial ;
    -webkit-transition: background-color 0.05s linear;
            transition: background-color 0.05s linear;
    font-size: 15px;
    text-align: center;
   	border-radius: 15px;
    color: #ffffff;
    width: 150px;
	 height: 30px;
  
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2), 0 4px 4px 0 rgba(0,0,0,0.19);
  
    transition:opacity 200ms;
	background-image: linear-gradient(to bottom, #ffffff, #C64025);
	border: outset #ffffff;;
	border-width: 2px;

}

.bton:hover {
background-image: linear-gradient(to bottom, #E0E0E0, #D56542);
}