@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

a,
a:focus,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 5%;
  border-radius: 3px;
}

.container.container--static {
  width: 80%;
  min-width: 600px;
  height: 40%;
  min-height: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  color: #eee;
  opacity: 0.6;
}

.container.container--sliding {
  width: 35%;
  height: 50%;
  min-height: 300px;
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  box-shadow: 3px -2px 6px 0px rgba(0, 0, 0, 0.4);
}
.container.container--sliding .slider-content.signup {
  display: none;
}

.info-box {
  width: 40%;
  margin: 5% auto;
}

.info-box.left {
  float: left;
}

.info-box.right {
  float: right;
}

.heading {
  font-family: 'Montserrat';
  font-size: 1.2em;
}

.heading.alt {
  margin-bottom: 10%;
  text-transform: uppercase;
  color: #E26A6A;
}

.info-text {
  font-family: 'Roboto';
  font-size: 0.7em;
  font-weight: 300;
  letter-spacing: 1px;
}

.info-text.alt {
  color: #aaa;
}

.button {
  width: 35%;
  margin-top: 15px;
  padding: 2% 5%;
  background-color: transparent;
  color: #eee;
  border: 2px solid #ccc;
  border-radius: 3px;
  font-family: 'Montserrat';
  font-size: 0.7em;
  text-transform: uppercase;
  cursor: pointer;
}

.button.alt {
  margin-bottom: 15px;
  background-color: #E26A6A;
  border: 0;
}

.button:focus {
  outline: 0;
}

form {
  margin-bottom: 10%;
}

form input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
  border: 0;
  border-bottom: 2px solid #ddd;
  font-family: 'Montserrat';
}
form input:focus {
  outline: 0;
}
