
body {
background-color: #E3E88C;
}

header{
margin: -1% -1% 0 -1%;    
padding: 3% 3% 2% 3%;
height: 50px;
background: #C64025;
}

#title{
font: Bold 35px Arial;
color: #ffffff;
}

.label-form{
font: Bold 15px Arial;
color: #000000;
}

#formreg{
margin-left: 30%;
margin-top: 5%;
}

.inp{
width: 270px;
height:35px;
border-radius: 4px;
padding-left: 5%;
}

#usuario, #divnombre{
display: inline-block;
margin-right: 2%;
margin-bottom: 2%;
}

#apellidopaterno, #apellidomaterno{
display: inline-block;
margin-right: 2%;
margin-bottom: 2%;
}

#sexo, #fecha{
display: inline-block;
margin-right: 2%;
margin-bottom: 2%;
}
#sexo{
width: 270px;
}

#email, #celular{
display: inline-block;
margin-right: 2%;
margin-bottom: 2%;
}

#clave, #rclave{
display: inline-block;
margin-right: 2%;
margin-bottom: 2%;
}
.subreg{
    margin-top: 1%;
    margin-left: 15%;
    font: Bold 15px Arial ;
    -webkit-transition: background-color 0.05s linear;
            transition: background-color 0.05s linear;
    font-size: 15px;
    text-align: center;
   	border-radius: 4px;
    color: #ffffff;
    width: 200px;
	 height: 45px;
  
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2), 0 4px 4px 0 rgba(0,0,0,0.19);
  
    transition:opacity 200ms;
	background-image: linear-gradient(to bottom, #ffffff, #C64025);
	border: outset #ffffff;;
	border-width: 2px;
	
     
}


.subreg:hover{
background-image: linear-gradient(to bottom, #E0E0E0, #D56542);
 
}

a:link, v:link{
text-decoration: none;
}

