/* ==========================================================================
// @section     One Page
// @description Gestion du gabarit pour un template one page
// =========================================================================*/

.onepage .section {
	box-sizing: border-box;
	min-height: 100vh;
	margin: 0;
	padding: 1rem 2rem;
}

.onepage .section:nth-child(3n+1) {
	color: #ffc7c7;
	background-color: #c64025;
}

.onepage .section:nth-child(3n+1) * {
	color: #ffc7c7;
	fill: #ffc7c7;
}

.onepage .section:nth-child(3n+2) {
	color: #a163cc;
	background-color: #4b2e5f;
}

.onepage .section:nth-child(3n+2) * {
	color: #a163cc;
	fill: #a163cc;
}

.onepage .section:nth-child(3n+3) {
	color: #cbffc7;
	background-color: #61ba59;
}

.onepage .section:nth-child(3n+3) * {
	color: #cbffc7;
	fill: #cbffc7;
}

/* @subsection .main-nav.onepage
// @description Menu de navigation pour la One Page
// =========================================================================*/

.onepage .main-nav {
	position: fixed;
  z-index: 4000;
	display: table;
	table-layout: fixed;
	bottom: 0;
	text-align: center;
	background: rgba(0, 0, 0, .2);
}

@media (max-width: 40em) {
	.onepage .main-nav {
		width: 100%;
	}
} /* END @media */

@media (min-width: 40em) {
	.onepage .main-nav {
		top: 0;
		right: 0;
	}
} /* END @media */

.onepage .main-nav a {
  display: table-cell;
  padding: 1rem;
  color: #fefefe;
  text-decoration: none;
}
.onepage .main-nav a.active {
  background-color: rgba(0, 0, 0, 0.3);
}


/* @subsection Everything else
// =========================================================================*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fefefe;
  font-family: 'Open Sans', Arial;
}

.vertical {
	display: table;
	width: 100%;
	height: 100%; /* @bugfix @affected Firefox */
}

.vertical > * {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

p {
  font-size: 1.2rem;
}

h1, .h1 {
  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
  font-size: 3.2rem;
}

h2, .h2 {
  margin-top: 1.4rem;
  margin-bottom: 0.7rem;
  font-size: 2.8rem;
}

@media (max-width: 40em) {
	
	/* @note 'vmin' unit do not work on : Safari 5.1, Android 4.3, Opera 12.1 */
  
  p {
		font-size: 6vmin;
  }
  
	h1, .h1 {
		font-size: 9.6vmin;
	}

	h2, .h2 {
		font-size: 7.6vmin;
	}

} /* END @media */

.svg {
  display: block;
  margin: 5vh auto 0;
  width: 100%;
  height: 100%;
  max-width: 30wh;
  max-height: 30vh;
}
