

<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset="UTF-8"/> 
<?php header('Content-Type: text/html; charset=ISO-8859-1'); ?><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>Mis bicicletas</title>
	<link href="css/lista.css" rel="stylesheet" type="text/css">
		<link href="css/fonts.css" rel="stylesheet" type="text/css">
	    <script src="js/jquery-1.7.1.min.js"></script>
		<script src="js/modernizr.2.5.3.js"></script>
			<script src="js/logout.js"></script>

</head>

<header>
<label id="title" onclick="location.href='perfil.html'">Mis Bicicletas</label>
</header>


<body>

<div id="nombre_cerrar">
<div id="nomuser">
<label id="username"></label><br>
</div>
<button id="logout" onclick="logout()">Cerrar Sesión</button>
</div>

        <div id="contenido">
           <!-- lista de bicis-->
  <div id="select_delete">
	<select name="editar" id="lista_bicicletas1" class="sel">

	</select>
	
    
<input type="submit" name="verrbici" class="bton" onclick= "mostrar_datos()" value="Ver Bicicleta">
 </div>
 
 <script src="js/jquery.uniform.js"></script>
<!-- JQUERY plugins: Poshy Tip, GMAP3, jQuery Validation, Tabs -->
		<script src="js/logincelu.js"></script>

		<script type="text/javascript">$(document).ready(function(){
			var nombreUsuario=window.localStorage.getItem('nombreusuario');
			var objeto ={nombre:nombreUsuario};
			$.ajax({
				url:"http://afrodita.inf.ucv.cl/~bbuglioni/lista_bici_celular.php",
				type:"POST",
				data:objeto,
				dataType:"json",
				success:function(result){
				var elem="";
				for (i = 0; i < result.length;i++){
					$('#lista_bicicletas1').append(result[i]);
        		}
				}
			})
		});



		</script>

		
		<br>
		    <!-- numero de serie-->
    <div id="numeroserie">
          <label id="serial" class="ldata">Numero de Serie</label><br>
          <label id="numero" class="ldato"></label><br>
    </div>
    <!-- fin numero de serie-->

    <!-- modelo-->
    <div id="divmodelo">
          <label id="model" class="ldata">Modelo</label><br>
          <label id="modelo" class="ldato"></label>
    </div><br>
    <!-- fin modelo-->

    <!-- marca-->
    <div id="divmarca">
          <label id="marca" class="ldata">Marca</label><br>      		
          <label id="label-marca" class="ldato"></label>
    </div><br>
    <!-- fin marca-->

    <!-- aro-->
    <div id="divaro">
          <label id="label-aro" class="ldata">Aro</label><br>
          <label id="aro" class="ldato"></label>
    </div><br>
    <!-- fin aro-->

    <!-- color-->
    <div id="divcolor">
          <label id="label-color" class="ldata">Color</label><br>
          <label id="color" class="ldato"></label>
    </div>
    <!-- fin color-->
    <br>

    <!-- estado-->
    <div id="estado">
    	<label id="label-estado" class="ldata">Estado de la Bicicleta</label><br>
    	<label id="estado" class="ldata"></label>
    </div>
    <br>
<button class="bton" onclick="location.href='agregar_bici.html'" id = "agregar_bici">Agregar bicicleta</button><br>
<button class="bton"  onclick="location.href='editar_bici.html'" id = "editar_bici">Editar bicicletas</button><br>
<button class="bton"  onclick="location.href='eliminar_bici.html'" id = "eliminar_bici">Eliminar bicicletas</button><br>

    <script type="text/javascript">
    document.getElementById('agregar_bici').style.visibility='hidden';
    document.getElementById('editar_bici').style.visibility='hidden';
    document.getElementById('eliminar_bici').style.visibility='hidden';
    document.getElementById('numeroserie').style.visibility='hidden';
    document.getElementById('divmodelo').style.visibility='hidden';
    document.getElementById('divmarca').style.visibility='hidden';
    document.getElementById('divaro').style.visibility='hidden';
    document.getElementById('divcolor').style.visibility='hidden';
    document.getElementById('estado').style.visibility='hidden';

    </script>
	

	<script src="js/jquery.uniform.js"></script>

<script type="text/javascript">$("#username").append(window.localStorage.getItem("nombreusuario"));</script>

		<!-- JQUERY plugins: Poshy Tip, GMAP3, jQuery Validation, Tabs -->
		<script src="js/logincelu.js"></script>

	
    </body>


</html>

