@font-face{
   font-family: 'Dosis Bold';
   src: local("fonts/Dosis-Bold.otf");
}

@font-face{
font-family: "Dosis ExtraBold";
src: local('fonts/Dosis-ExtraBold.otf");
}

@font-face{
font-family: 'Dosis ExtraLight';
src: local("fonts/Dosis-ExtraLight.otf");
}

@font-face{
font-family: 'Dosis Light');
src: local("fonts/Dosis-Light.otf");
}

@font-face{
font-family: 'Dosis Medium';
src: local("fonts/Dosis-Medium.otf");
}

@font-face{
font-family: 'Dosis';
src: local('fonts/Dosis-Regular.otf');
}

@font-face{
font-family: 'Dosis Semibold';
src: local("fonts/Dosis-SemiBold.otf");
}


