
body {
background-color: #E3E88C;
}

#logo{
    margin-top: 5%;
        box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2), 0 4px 4px 0 rgba(0,0,0,0.19);
width: 270px;
}

#logo, #formlogin, #rpass{
margin-left: 40%;
}

#fbuscar{
margin-left: 55%;
margin-top: 1%;
}
#inputbuscar{
float: left;
height:35px;
width: 500px;
border-radius: 3px;
}



#searchb{
   	width: 50px;
	  height: 35px;
    border-width: 0px;
   

}


fb:login-button{
width: 500px;
    height: 500px;
 
}


#formlogin{
margin-top: 1%;
width: 270px;
    
}

#luser, #lpass{
font: Bold 15px arial;

}

#pass, #user{
width: 270px;
height:35px;
border-radius: 4px; 
}



#user{
margin-bottom: 1%;
margin-top: 1%;
}

#lpass, #pass{
margin-top: 1%;
}
.inputlogin{
    margin-top: 3%;
    font: Bold 15px Arial ;
    -webkit-transition: background-color 0.05s linear;
            transition: background-color 0.05s linear;
    font-size: 15px;
    text-align: center;
   	border-radius: 4px;
    color: #ffffff;
    width: 133px;
	 height: 40px;
  
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2), 0 4px 4px 0 rgba(0,0,0,0.19);
  
    transition:opacity 200ms;
	background-image: linear-gradient(to bottom, #ffffff, #C64025);
	border: outset #ffffff;;
	border-width: 2px;
	
     
}


.inputlogin:hover{
background-image: linear-gradient(to bottom, #E0E0E0, #D56542);
 
}

a:link, v:link{
text-decoration: none;
}

#rpass{
font:  15px Arial;
width: 270px;
margin-left: 15%; 

}