.titulo{
position:fixed;
margin-top: -4%;
margin-left: 1%;
}

.infologin{
position: static;
margin-left: 88%;
width: 200;
border-radius: 4px;	
font: 15px Arial;     
}

.listadoc{
margin-left: 30%;
margin-top: 10%;
    
}

h3{
margin-bottom: 5px;
font: Bold 25px Arial;
color: #A21915;
text-shadow: 2px 0.5px 1px #ffffff, 1px 1px #3C2F10

}

.btabla {
    
     
    font: Arial ;
    -webkit-transition: background-color 0.05s linear;
            transition: background-color 0.05s linear;
    font-size: 15px;
    text-align: center;
   	border-radius: 6px;
    color: black;
    width: 300px;
	height: 30px;
    margin-bottom: 1%;
    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 5px 0 rgba(0,0,0,0.19);
  
    transition:opacity 200ms;
	background-image: linear-gradient(to bottom, #E0E0E0, #3399ff);
	border: outset #ffffff;;
	border-width: 2px;
	text-shadow: 1px 0.5px 1px #000000, 1px 1px #3C2F10
     
}

.btabla:hover {
background-image:linear-gradient(to bottom, #E0E0E0, #0B7748);
color: #0B7748;
text-decoration: none;
}
.aplicar:hover, .cancelar:hover{
background-image: linear-gradient(to bottom, #E0E0E0, #D56542);
 
}


form{   
position: static;
margin-left: 30%;
margin-top: 2%;
width: 200;
border-radius: 4px;	
font: 12px Arial; 
}

.texto1, .texto2{
width: 300px;
height: 20px;
margin-bottom: 1%;
}

.labeledit1,.labeledit2{
margin-bottom: 5px;
font: Bold 20px Arial;
color: #E6BC11;
text-shadow: 2px 0.5px 1px #000000, 1px 1px #E6BC11   
}



.baplicar, .bcancelar{
font-weight:bold;
font-size: 15px;
-webkit-transition-duration: 0.4s;
transition-duration: 0.4s;
text-align: center;
border-radius: 6px;
width: 150px;
height: 30px;
margin-right: 1%;

   

    
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2), 0 2px 5px 0 rgba(0,0,0,0.19);
  
    transition:opacity 200ms;
	background-image: linear-gradient(to bottom, #E0E0E0, #A8A8A8);
	border: outset #ffffff;;
	border-width: 1.5px;
	
}

.beliminar{
font-weight:bold;
font-size: 15px;
-webkit-transition-duration: 0.4s;
transition-duration: 0.4s;
text-align: center;
border-radius: 6px;
width: 200px;
height: 40px;
margin-left: 34%;
margin-top: 5%;

   

    
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2), 0 2px 5px 0 rgba(0,0,0,0.19);
  
    transition:opacity 200ms;
	background-image: linear-gradient(to bottom, #E0E0E0, #A8A8A8);
	border: outset #ffffff;;
	border-width: 1.5px;
}

a:link, v:link{   
 text-decoration:none;  
 color: #153FA2;
}   
body {
                    background-image: ("fondo.jpg");
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-attachment: fixed;
 
                    }

::-webkit-input-placeholder {
    color:    rgb(184, 184, 184);
}
:-moz-placeholder {
    color:    rgb(184, 184, 184);
}
::-moz-placeholder {
    color:    rgb(184, 184, 184);
}
:-ms-input-placeholder {
    color:    rgb(184, 184, 184);
}
		