body {
background-color: #E3E88C;
}

header{
margin: -1% -1% 0 -1%;    
padding: 3% 3% 2% 3%;
height: 50px;
background: #C64025;
}

#title{
font: Bold 30px Arial;
color: #000000;
}
#formreg{
text-align: center;
}

.bton{
font: Bold 15px Arial ;
    -webkit-transition: background-color 0.05s linear;
            transition: background-color 0.05s linear;
    font-size: 15px;
    text-align: center;
   	border-radius: 4px;
    color: #ffffff;
    width: 200px;
	 height: 45px;
  
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2), 0 4px 4px 0 rgba(0,0,0,0.19);
  
    transition:opacity 200ms;
	background-image: linear-gradient(to bottom, #ffffff, #C64025);
	border: outset #ffffff;;
	border-width: 2px;

}

.bton:hover {
background-image: linear-gradient(to bottom, #E0E0E0, #D56542);
}
.ldata{
font: Bold 15px Arial;
}
.dato{
height: 20px;
width: 200px;
border-radius: 15px;
margin-bottom: -1%;
padding-left: 1%;
box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2), 0 4px 4px 0 rgba(0,0,0,0.19);
font:12px Arial;
}

.lradio{
font: 12px Arial;
}
