
body {
background-color: #E3E88C;
}

header{
margin: -1% -1% 0 -1%;    
padding: 3% 3% 2% 3%;
height: 50px;
background: #C64025;
}

#title{
font: Bold 35px Arial;
display: inline-block;
color: #ffffff;
}
#contenido{
text-align: center;
margin-top: 5%;
}


#nombre_cerrar{
font: Bold 12px Arial ;
color: #ffffff
position: absolute;
margin-top: -5%;
margin-left: 85%;
}

#logout{
font: Bold 12px Arial ;
    text-align: center;
   	border-radius: 4px;
    color: #C64025;
    width: 107px;
	height: 35px;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2), 0 4px 4px 0 rgba(0,0,0,0.19);
	border: outset #ffffff;;
	border-width: 0px;
	 margin-left: -15%;
}


.bton{
    margin-top: 5%;
    margin-left: -50%;
    font: Bold 15px Arial ;
    -webkit-transition: background-color 0.05s linear;
            transition: background-color 0.05s linear;
    font-size: 15px;
    text-align: center;
   	border-radius: 4px;
    color: #ffffff;
    width: 200px;
	 height: 45px;
  
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2), 0 4px 4px 0 rgba(0,0,0,0.19);
  
    transition:opacity 200ms;
	background-image: linear-gradient(to bottom, #ffffff, #C64025);
	border: outset #ffffff;;
	border-width: 2px;
	
     
}


.bton:hover{
background-image: linear-gradient(to bottom, #E0E0E0, #D56542);
 
}

a:link, v:link{
text-decoration: none;
}

.ldata{
font: Bold 15px Arial;

}

.dato_d{
height: 100px;
width: 200px;
border-radius: 10px;
padding-left: 1%;
padding-top: 1%;
box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2), 0 4px 4px 0 rgba(0,0,0,0.19);
font:12px Arial;
}

.ldato{
font: Bold 15px Arial;
color: #C66F2D;
}

#reportar_bicicleta{

margin-left: 5%;

